
<style>
    .container
    {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    @font-face {
  font-family: 'Circular'; /* Choose any name you like */
  src: url("{{url_for('static', filename = 'circular-std-medium-500.woff2')}}") format('woff2'),
       url("{{url_for('static', filename = 'circular-std-medium-500.woff')}}") format('woff');
  font-weight: normal;
  font-style: normal;
}

    h2
    {
      text-align: center;
      font-family: 'Circular';
      letter-spacing: 5px;
      font-size: 50px;
      color: aliceblue;
    }
    button
    {
        color: whitesmoke;
        background-color: rgb(65, 182, 65);
        border-radius: 25%;
        width: 60%;
        height: 25%;
        font-family: 'Circular';
        font-size: 100px;
    }
    body
    {
        background-color: rgb(4, 3, 3);
    }
</style>
<body>
    



        

    <H2>Time To rewind...</H2>
    



    <form method="POST" action="{{url_for('getSpotify')}}"">
        <div class="container">
             <button type="submit" name="createPlaylist"> CLICK ME! </button>
        </div>
    </form>

</body>
